
    table
    { border-spacing: 2px;}

    td

    {
      height: auto;
      width: auto;
      text-align: center;
      background-color: blue;
      font-family: verdana;
      font-size: 10px;
      color: white;
    }
.lenta
{
  background-color: blue;
  padding: 20px;
  display: block;
  float: left;
 }
