
    table
    { border-spacing: 10px; }

    td

    {
      height: auto;
      width: auto;
      text-align: center;
      background-color: blue;
      font-family: verdana;
      font-size: 10px;
      color: white;
    }

 